{% extends 'baseblog.html' %}

{% block content %}

<body class="indigo lighten-5">

  
</div>

    <a class="darken-2 scrollToTop btn-floating btn-large waves-effect waves-light indigo"><i class="mdi-hardware-keyboard-arrow-up"></i></a>
    <div id="page-wrap">
        <div id="main-content">
            <div id="guts">
                <div class="container">
                    <div class="wrapper indigo-text text-darken-3">
                        <div class="" style="margin-top:20px;">
      
      
      
      
             
       <div class="scroll-1 blog" id="thefirst">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="">
              <div class="filter indigo"></div>
                                <div class="cover-text indigo-text text-darken-4">
                            Hehe
                    </div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Circular Matrix</div>
              <p>Feb 20, 2015</p><br/>
              Program
to display a circular matrix using Java on BlueJ
import java.io.*;

There you go.

           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/20/circular-matrix.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Lorem Ipsum dolor 1</div>
              <p>Feb 13, 2015</p><br/>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Morbi congue eros id nisl sagittis accumsan. Nam nec odio dolor.

Integer accumsan, turpis a egestas malesuada, lorem ex blandit nulla, in condimentum lectus quam et dolor. Ut dapibus, sem et efficitur efficitur, urna turpis dictum tellus, non lacinia leo sem sit amet leo. Phasellus tortor dui, consectetur sed felis in, dapibus tincidunt nisi. Nam faucibus, dolor nec ultricies euismod, risus magna condimentum elit, et dictum lorem nunc eu orci. Mauris efficitur sollicitudin mi, nec condimentum nunc euismod vel. Integer ac dictum elit. Vivamus in dui ac arcu laoreet dictum.

Curabitur congue aliquet nulla, ac hendrerit leo dictum in. Cras at tristique quam. Praesent euismod nec dui eu vulputate. Quisque sit amet gravida elit. Suspendisse euismod urna ut efficitur facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla, ipsum tempor ullamcorper pellentesque, purus tellus convallis ex, quis viverra arcu metus at est. Aliquam erat volutpat. Suspendisse dictum, nunc in dictum ultrices, sapien arcu venenatis tortor, eget dictum nulla sem quis nibh. Nunc id malesuada odio. Sed in dolor accumsan, vehicula neque ut, pretium est. Cras feugiat nunc et neque sagittis, in aliquam velit mattis. Nulla in massa mi. In eget efficitur neque, sit amet porttitor diam. Integer sed posuere sapien.

           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/13/lorem-ipsum-1.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static/img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Material Design ftw!!</div>
              <p>Feb 10, 2015</p><br/>
              Google’s material design

I’ve been pretty much impressed by this ever since it came out. Now trying to get a blog running over this.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Morbi congue eros id nisl sagittis accumsan. Nam nec odio dolor.

Integer accumsan, turpis a egestas malesuada, lorem ex blandit nulla, in condimentum lectus quam et dolor. Ut dapibus, sem et efficitur efficitur, urna turpis dictum tellus, non lacinia leo sem sit amet leo. Phasellus tortor dui, consectetur sed felis in, dapibus tincidunt nisi. Nam faucibus, dolor nec ultricies euismod, risus magna condimentum elit, et dictum lorem nunc eu orci. Mauris efficitur sollicitudin mi, nec condimentum nunc euismod vel. Integer ac dictum elit. Vivamus in dui ac arcu laoreet dictum.

Curabitur congue aliquet nulla, ac hendrerit leo dictum in. Cras at tristique quam. Praesent euismod nec dui eu vulputate. Quisque sit amet gravida elit. Suspendisse euismod urna ut efficitur facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla, ipsum tempor ullamcorper pellentesque, purus tellus convallis ex, quis viverra arcu metus at est. Aliquam erat volutpat. Suspendisse dictum, nunc in dictum ultrices, sapien arcu venenatis tortor, eget dictum nulla sem quis nibh. Nunc id malesuada odio. Sed in dolor accumsan, vehicula neque ut, pretium est. Cras feugiat nunc et neque sagittis, in aliquam velit mattis. Nulla in massa mi. In eget efficitur neque, sit amet porttitor diam. Integer sed posuere sapien.

           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/10/material-designx.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static/img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Material Design ftw!!</div>
              <p>Feb 10, 2015</p><br/>
              Google’s material design

I’ve been pretty much impressed by this ever since it came out. Now trying to get a blog running over this.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Morbi congue eros id nisl sagittis accumsan. Nam nec odio dolor.

Integer accumsan, turpis a egestas malesuada, lorem ex blandit nulla, in condimentum lectus quam et dolor. Ut dapibus, sem et efficitur efficitur, urna turpis dictum tellus, non lacinia leo sem sit amet leo. Phasellus tortor dui, consectetur sed felis in, dapibus tincidunt nisi. Nam faucibus, dolor nec ultricies euismod, risus magna condimentum elit, et dictum lorem nunc eu orci. Mauris efficitur sollicitudin mi, nec condimentum nunc euismod vel. Integer ac dictum elit. Vivamus in dui ac arcu laoreet dictum.

Curabitur congue aliquet nulla, ac hendrerit leo dictum in. Cras at tristique quam. Praesent euismod nec dui eu vulputate. Quisque sit amet gravida elit. Suspendisse euismod urna ut efficitur facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla, ipsum tempor ullamcorper pellentesque, purus tellus convallis ex, quis viverra arcu metus at est. Aliquam erat volutpat. Suspendisse dictum, nunc in dictum ultrices, sapien arcu venenatis tortor, eget dictum nulla sem quis nibh. Nunc id malesuada odio. Sed in dolor accumsan, vehicula neque ut, pretium est. Cras feugiat nunc et neque sagittis, in aliquam velit mattis. Nulla in massa mi. In eget efficitur neque, sit amet porttitor diam. Integer sed posuere sapien.

           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/10/material-design1.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static/img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Material Design ftw!!</div>
              <p>Feb 10, 2015</p><br/>
              Google’s material design

I’ve been pretty much impressed by this ever since it came out. Now trying to get a blog running over this.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Morbi congue eros id nisl sagittis accumsan. Nam nec odio dolor.

Integer accumsan, turpis a egestas malesuada, lorem ex blandit nulla, in condimentum lectus quam et dolor. Ut dapibus, sem et efficitur efficitur, urna turpis dictum tellus, non lacinia leo sem sit amet leo. Phasellus tortor dui, consectetur sed felis in, dapibus tincidunt nisi. Nam faucibus, dolor nec ultricies euismod, risus magna condimentum elit, et dictum lorem nunc eu orci. Mauris efficitur sollicitudin mi, nec condimentum nunc euismod vel. Integer ac dictum elit. Vivamus in dui ac arcu laoreet dictum.

Curabitur congue aliquet nulla, ac hendrerit leo dictum in. Cras at tristique quam. Praesent euismod nec dui eu vulputate. Quisque sit amet gravida elit. Suspendisse euismod urna ut efficitur facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla, ipsum tempor ullamcorper pellentesque, purus tellus convallis ex, quis viverra arcu metus at est. Aliquam erat volutpat. Suspendisse dictum, nunc in dictum ultrices, sapien arcu venenatis tortor, eget dictum nulla sem quis nibh. Nunc id malesuada odio. Sed in dolor accumsan, vehicula neque ut, pretium est. Cras feugiat nunc et neque sagittis, in aliquam velit mattis. Nulla in massa mi. In eget efficitur neque, sit amet porttitor diam. Integer sed posuere sapien.

           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/10/material-design.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static/img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Lorem Ipsum dolor</div>
              <p>Feb 10, 2015</p><br/>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Morbi congue eros id nisl sagittis accumsan. Nam nec odio dolor.

Integer accumsan, turpis a egestas malesuada, lorem ex blandit nulla, in condimentum lectus quam et dolor. Ut dapibus, sem et efficitur efficitur, urna turpis dictum tellus, non lacinia leo sem sit amet leo. Phasellus tortor dui, consectetur sed felis in, dapibus tincidunt nisi. Nam faucibus, dolor nec ultricies euismod, risus magna condimentum elit, et dictum lorem nunc eu orci. Mauris efficitur sollicitudin mi, nec condimentum nunc euismod vel. Integer ac dictum elit. Vivamus in dui ac arcu laoreet dictum.

Curabitur congue aliquet nulla, ac hendrerit leo dictum in. Cras at tristique quam. Praesent euismod nec dui eu vulputate. Quisque sit amet gravida elit. Suspendisse euismod urna ut efficitur facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla, ipsum tempor ullamcorper pellentesque, purus tellus convallis ex, quis viverra arcu metus at est. Aliquam erat volutpat. Suspendisse dictum, nunc in dictum ultrices, sapien arcu venenatis tortor, eget dictum nulla sem quis nibh. Nunc id malesuada odio. Sed in dolor accumsan, vehicula neque ut, pretium est. Cras feugiat nunc et neque sagittis, in aliquam velit mattis. Nulla in massa mi. In eget efficitur neque, sit amet porttitor diam. Integer sed posuere sapien.

           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/10/lorem-ipsumx.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static/img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Lorem Ipsum dolor</div>
              <p>Feb 10, 2015</p><br/>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Morbi congue eros id nisl sagittis accumsan. Nam nec odio dolor.

Integer accumsan, turpis a egestas malesuada, lorem ex blandit nulla, in condimentum lectus quam et dolor. Ut dapibus, sem et efficitur efficitur, urna turpis dictum tellus, non lacinia leo sem sit amet leo. Phasellus tortor dui, consectetur sed felis in, dapibus tincidunt nisi. Nam faucibus, dolor nec ultricies euismod, risus magna condimentum elit, et dictum lorem nunc eu orci. Mauris efficitur sollicitudin mi, nec condimentum nunc euismod vel. Integer ac dictum elit. Vivamus in dui ac arcu laoreet dictum.

Curabitur congue aliquet nulla, ac hendrerit leo dictum in. Cras at tristique quam. Praesent euismod nec dui eu vulputate. Quisque sit amet gravida elit. Suspendisse euismod urna ut efficitur facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla, ipsum tempor ullamcorper pellentesque, purus tellus convallis ex, quis viverra arcu metus at est. Aliquam erat volutpat. Suspendisse dictum, nunc in dictum ultrices, sapien arcu venenatis tortor, eget dictum nulla sem quis nibh. Nunc id malesuada odio. Sed in dolor accumsan, vehicula neque ut, pretium est. Cras feugiat nunc et neque sagittis, in aliquam velit mattis. Nulla in massa mi. In eget efficitur neque, sit amet porttitor diam. Integer sed posuere sapien.

           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/10/lorem-ipsum1x.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static/img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Lorem Ipsum dolor</div>
              <p>Feb 10, 2015</p><br/>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Morbi congue eros id nisl sagittis accumsan. Nam nec odio dolor.

Integer accumsan, turpis a egestas malesuada, lorem ex blandit nulla, in condimentum lectus quam et dolor. Ut dapibus, sem et efficitur efficitur, urna turpis dictum tellus, non lacinia leo sem sit amet leo. Phasellus tortor dui, consectetur sed felis in, dapibus tincidunt nisi. Nam faucibus, dolor nec ultricies euismod, risus magna condimentum elit, et dictum lorem nunc eu orci. Mauris efficitur sollicitudin mi, nec condimentum nunc euismod vel. Integer ac dictum elit. Vivamus in dui ac arcu laoreet dictum.

Curabitur congue aliquet nulla, ac hendrerit leo dictum in. Cras at tristique quam. Praesent euismod nec dui eu vulputate. Quisque sit amet gravida elit. Suspendisse euismod urna ut efficitur facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla, ipsum tempor ullamcorper pellentesque, purus tellus convallis ex, quis viverra arcu metus at est. Aliquam erat volutpat. Suspendisse dictum, nunc in dictum ultrices, sapien arcu venenatis tortor, eget dictum nulla sem quis nibh. Nunc id malesuada odio. Sed in dolor accumsan, vehicula neque ut, pretium est. Cras feugiat nunc et neque sagittis, in aliquam velit mattis. Nulla in massa mi. In eget efficitur neque, sit amet porttitor diam. Integer sed posuere sapien.

           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/10/lorem-ipsum1.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static/img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Lorem Ipsum dolor</div>
              <p>Feb 10, 2015</p><br/>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Morbi congue eros id nisl sagittis accumsan. Nam nec odio dolor.

Integer accumsan, turpis a egestas malesuada, lorem ex blandit nulla, in condimentum lectus quam et dolor. Ut dapibus, sem et efficitur efficitur, urna turpis dictum tellus, non lacinia leo sem sit amet leo. Phasellus tortor dui, consectetur sed felis in, dapibus tincidunt nisi. Nam faucibus, dolor nec ultricies euismod, risus magna condimentum elit, et dictum lorem nunc eu orci. Mauris efficitur sollicitudin mi, nec condimentum nunc euismod vel. Integer ac dictum elit. Vivamus in dui ac arcu laoreet dictum.

Curabitur congue aliquet nulla, ac hendrerit leo dictum in. Cras at tristique quam. Praesent euismod nec dui eu vulputate. Quisque sit amet gravida elit. Suspendisse euismod urna ut efficitur facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla, ipsum tempor ullamcorper pellentesque, purus tellus convallis ex, quis viverra arcu metus at est. Aliquam erat volutpat. Suspendisse dictum, nunc in dictum ultrices, sapien arcu venenatis tortor, eget dictum nulla sem quis nibh. Nunc id malesuada odio. Sed in dolor accumsan, vehicula neque ut, pretium est. Cras feugiat nunc et neque sagittis, in aliquam velit mattis. Nulla in massa mi. In eget efficitur neque, sit amet porttitor diam. Integer sed posuere sapien.

           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/10/lorem-ipsum.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static/img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Welcome to Jekyll!</div>
              <p>Feb 7, 2015</p><br/>
              You’ll find this post in your _posts directory. Go ahead and edit it and re-build the site to see your changes. You can rebuild the site in many different ways, but the most common way is to run jekyll serve --watch, which launches a web server and auto-regenerates your site when a file is updated.

To add new posts, simply add a file in the _posts directory that follows the convention YYYY-MM-DD-name-of-post.ext and includes the necessary front matter. Take a look at the source for this post to get an idea about how it works.

Jekyll also offers powerful support for code snippets:

def print_hi(name)
  puts &quot;Hi, #{name}&quot;
end
print_hi(&#39;Tom&#39;)
#=&gt; prints &#39;Hi, Tom&#39; to STDOUT.

Check out the Jekyll docs for more info on how to get the most out of Jekyll. File all bugs/feature requests at Jekyll’s GitHub repo. If you have questions, you can ask them on Jekyll’s dedicated Help repository.


           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/07/welcome-to-jekylle.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static/img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Welcome to Jekyll!</div>
              <p>Feb 7, 2015</p><br/>
              You’ll find this post in your _posts directory. Go ahead and edit it and re-build the site to see your changes. You can rebuild the site in many different ways, but the most common way is to run jekyll serve --watch, which launches a web server and auto-regenerates your site when a file is updated.

To add new posts, simply add a file in the _posts directory that follows the convention YYYY-MM-DD-name-of-post.ext and includes the necessary front matter. Take a look at the source for this post to get an idea about how it works.

Jekyll also offers powerful support for code snippets:

def print_hi(name)
  puts &quot;Hi, #{name}&quot;
end
print_hi(&#39;Tom&#39;)
#=&gt; prints &#39;Hi, Tom&#39; to STDOUT.

Check out the Jekyll docs for more info on how to get the most out of Jekyll. File all bugs/feature requests at Jekyll’s GitHub repo. If you have questions, you can ask them on Jekyll’s dedicated Help repository.


           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/07/welcome-to-jekyll1f.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static//img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Welcome to Jekyll!</div>
              <p>Feb 7, 2015</p><br/>
              You’ll find this post in your _posts directory. Go ahead and edit it and re-build the site to see your changes. You can rebuild the site in many different ways, but the most common way is to run jekyll serve --watch, which launches a web server and auto-regenerates your site when a file is updated.

To add new posts, simply add a file in the _posts directory that follows the convention YYYY-MM-DD-name-of-post.ext and includes the necessary front matter. Take a look at the source for this post to get an idea about how it works.

Jekyll also offers powerful support for code snippets:

def print_hi(name)
  puts &quot;Hi, #{name}&quot;
end
print_hi(&#39;Tom&#39;)
#=&gt; prints &#39;Hi, Tom&#39; to STDOUT.

Check out the Jekyll docs for more info on how to get the most out of Jekyll. File all bugs/feature requests at Jekyll’s GitHub repo. If you have questions, you can ask them on Jekyll’s dedicated Help repository.


           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/07/welcome-to-jekyll1.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="background-image: url('/static/img/1.jpg');">
              <div class="filter indigo"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">Welcome to Jekyll!</div>
              <p>Feb 7, 2015</p><br/>
              You’ll find this post in your _posts directory. Go ahead and edit it and re-build the site to see your changes. You can rebuild the site in many different ways, but the most common way is to run jekyll serve --watch, which launches a web server and auto-regenerates your site when a file is updated.

To add new posts, simply add a file in the _posts directory that follows the convention YYYY-MM-DD-name-of-post.ext and includes the necessary front matter. Take a look at the source for this post to get an idea about how it works.

Jekyll also offers powerful support for code snippets:

def print_hi(name)
  puts &quot;Hi, #{name}&quot;
end
print_hi(&#39;Tom&#39;)
#=&gt; prints &#39;Hi, Tom&#39; to STDOUT.

Check out the Jekyll docs for more info on how to get the most out of Jekyll. File all bugs/feature requests at Jekyll’s GitHub repo. If you have questions, you can ask them on Jekyll’s dedicated Help repository.


           </div>
           <div class="card-action indigo darken-2">
              <button href="/static/blog/2015/02/07/welcome-to-jekyll.html" class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       
       

       <div class="scroll-1 blog">
       <div class="container-fluid card indigo z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-4" style="">
              <div class="filter indigo">
                  <div class="cover-text indigo-text text-darken-4">
                            Hehe
                    </div>
              </div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">About Me</div>
              <p></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Morbi congue eros id nisl sagittis accumsan. Nam nec odio dolor.

           </div>
           <div class="card-action indigo darken-2">
               <span class="pagin-btns">
                <a class="indigo disabled darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Blog</a>
                <a class="indigo disabled lighten-1 white-text text-darken-3 waves-effect waves-light btn" href='#thefirst'>1</a>
                <a class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href="/student/order/">Order</a>
                <a class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href="/student/login">Login</a>
                <a class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href="/student/signup">Sign-Up</a>
                <a class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>5</a>
                <a class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>6</a>
                <a class="indigo darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Next</a>
               </span>
            </div>
       </div>
       </div>


      <!--<a href="/blog/ /feed.xml " class="indigo darken-1 waves-effect waves-light btn"><i class="mdi-file-cloud left"></i>Subscribe to RSS Feed</a>-->

</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock %}
