{% extends 'baseevent.html' %}

{% block content %}
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a class="brand-logo waves-effect waves-dark">SAC</a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <h1 class="header center orange-text">Testers</h1>
      <div class="row center">
        <a href="/" id="download-button" class="btn-large waves-effect waves-light orange">Back to Home</a>
      </div>
            <div class="row center">
        <h5 class="header col s12 light">Debugged by:</h5>
      </div>
    </div>
  </div>


  <div class="container section scrollspy">
    <div class="section scrollspy">

      <!--   Icon Section   -->
      <div class="row">
      <div class="collection">
        <a href="#!" class="collection-item">Abishek Kannappan</a>
        <a href="#!" class="collection-item">Ankit Patel</a>
        <a href="#!" class="collection-item">Anusha Nagar</a>
        <a href="#!" class="collection-item">David Kluszcynski</a>
        <a href="#!" class="collection-item">Hena Shah</a>
        <a href="#!" class="collection-item">Kamakshi Sharma</a>
        <a href="#!" class="collection-item">Lucent Fong</a>
        <a href="#!" class="collection-item">Malavika Vivek</a>
        <a href="#!" class="collection-item">Matthew Mariner</a>
        <a href="#!" class="collection-item">Rohan Mehra</a>
        <a href="#!" class="collection-item">Surya Venkatram</a>
        <a href="#!" class="collection-item">Zarir Hamza</a>
      </div>
      </div>

    </div>
    <br><br>
    <div class="section">

    </div>
  </div>

  <footer class="page-footer blue section scrollspy" id="a">
    <div class="container">
      <div class="row center">
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="white-text text-lighten-10" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  </body>

{% endblock %}