{% extends 'baseerror.html' %}

{% block content %}
<body>
	<meta http-equiv="refresh" content="5; url="http://www.adhias.com/student/login" />
	<div class="wrap">
		<div class="content">
			<div class="logo">
				<h1><a href="#"><img src="../../static/images/error.png"></a></h1>
				<span><img src="../../static/images/signal.png"/>Oops! You Entered the Wrong Username or Password.</span>
			</div>
			<div class="buttom">
				<div class="seach_bar">
					<p>Click to go back to <span><a href="/student/login/">Login</a></span></p>
					<div class="search_box">
					<form>
					   <input type="text" value="            You will be redirected in 5 seconds">
				    </form>
					 </div>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}
