<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}

		{% block titlename %}
			<title>Recovery</title>
		{% endblock %}
    <link rel="shortcut icon" href="{% static "img/profile.ico" %}" />
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">


	</head>


	<body>
		{% block content %}

		{% endblock %}


    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
	<script type="text/javascript" src="/static/js/main2.js"></script>
    </body>
</html>