<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}

		{% block titlename %}
			<title>Cancel Order</title>
		{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/Titillium.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/materialize.min.css" %}">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		{% block extra_styles %}

		{% endblock %}

	</head>

	<body>
		{% block content %}

		{% endblock %}

		<script src='/static/js/jquery.min.js'></script>
        <script src="/static/js/index.js"></script>
        <script src="/static/js/materialize.min.js"></script>

	</body>
</html>




